<html>
  <head>
    <title>已標記資料</title>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css" >
  </head>

  <body>
  	<!-- navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">中文新聞情緒分析</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
          	<li><a href="#">已標記資料</a></li>
            <li><a href="https://www.csie.ntu.edu.tw/~sdlin/" target="_blank">MSLAB</a></li>
            <!-- <li><a href="http://academiasinicanlplab.github.io/" target="_blank">NLPLAB</a></li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
      	<!-- left bar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#labeled_data" id="labeled_data">已標記資料</a></li>
          </ul>
        </div>

        <!-- right content -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header" id="labeled_data">已標記資料</h2>
          <div class="table-responsive">
            <table class="table table-striped" id='news-table'>
              <thead>
                <tr>
                  <th></th>
                  <th>標題</th>
                  <!-- <th>標題情緒</th>
                  <th>標題分數</th>
                  <th>內文情緒</th>
                  <th>內文分數</th> -->
                  <th>出處</th>
                  <th>時間</th>
                  <th>立場</th>
                  <th>標記</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <!-- MomentJS -->
    <script src="static/js/moment.js"></script>
    <!-- ChartJS v1.0.2 to v2.6.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="static/js/bootbox.min.js"></script>
    <script src="static/js/data.js?v=1"></script>
  </body>
</html>

